body {
  background: white;
  margin: 0;
  display: flex;
  background-color:  #f2f4ef;
  font-family: roboto;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-size: 2em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.block {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 8%;
}

.menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  height: 60vh;
  scroll-snap-type: x mandatory;
  color:  #f2f4ef;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 75%;
  background: white;
  margin: 2%;
  border-radius: 20px;
  scroll-snap-align: center;
  box-shadow: 0px 0px 8px gray;
}

.profile {
  display: flex;
  border-radius: 25px;
  margin: 4%;
  overflow: hidden;
  object-fit: contain;
}

.title {
  animation-name: lol;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  font-weight: bold;
  font-size: 1.7em;
  color: #080516;
   -webkit-filter: blur(1.5px);
}

img {
  width: 100%;
  -webkit-filter: blur(0px);
  border-radius: 20px;
}

@keyframes lol {
    25% {
    transform: skew(1deg, 1deg);
    }
    75%{
    transform: skew(-1deg, -1deg);
    }
}

	.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3em;
    margin: 2%;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    text-align: center;
    
  }

  .block {
   display: flex;
   overflow: hidden;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
  }
  
  .item {
    display: flex;
    min-width: 25%;
    max-width: 25%;
    height: 30vh;
  }
  
  .item:hover {
    transform: translateY(-25px);
}

  .itemcontainer {
    -webkit-filter: blur(1.5px);
  }
  
  .profile {
  display: flex;
  border-radius: 25px;
  width: 70%;
  margin: 2%;
  overflow: hidden;
  object-fit: cover;
}

img {
  width: 100%;
}

}

@font-face {
  font-family: "roboto";
  src: url("https://cdn.glitch.global/95a4f36d-8f2e-43e2-9225-82e0b4e65cc3/roboto.ttf?v=1648214394138");
}

::-webkit-scrollbar {
  display: none;
}